<!-- views/pages/index.ejs -->

<!DOCTYPE html>

<script src="javascripts/script.js" type="text/javascript"></script>
<link href="stylesheets/styles.css" rel="stylesheet" type="text/css">
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
      <img id="status" src="images/check.png" />
    </div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>

